.checkbox-1 {
  position: relative;
}

.checkbox-1 input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-1 label {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 42px;
  border-radius: 46px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-1 label:after {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-1 input[type="checkbox"]:hover + label:after {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.checkbox-1 input[type="checkbox"]:checked + label {
  background-color: #23a43b;
}

.checkbox-1 input[type="checkbox"]:checked + label:after {
  left: 40px;
  background-color: #4bd865;
}

.checkbox-2 {
  position: relative;
}

.checkbox-2 input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-2 label {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 42px;
  border-radius: 46px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-2 label:after {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-2 input[type="checkbox"]:hover + label:after {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.checkbox-2 input[type="checkbox"]:checked + label {
  background-color: #4bd865;
}

.checkbox-2 input[type="checkbox"]:checked + label:after {
  left: 35px;
}

.checkbox-3 {
  position: relative;
}

.checkbox-3 input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-3 label {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 38px;
  border-radius: 46px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #eee;
}

.checkbox-3 label:after {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: 2;
  background-color: #bbb;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-3 input[type="checkbox"]:hover + label:after {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.checkbox-3 input[type="checkbox"]:checked + label:after {
  left: 55px;
  background-color: #4bd865;
}

.checkbox-4 {
  position: relative;
}

.checkbox-4 input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-4 label {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 25px;
  border-radius: 46px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-4 label:after {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-4 input[type="checkbox"]:hover + label:after {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.checkbox-4 input[type="checkbox"]:checked + label {
  background-color: #96e8a6;
}

.checkbox-4 input[type="checkbox"]:checked + label:after {
  left: 40px;
  background-color: #4bd865;
}

.checkbox-5 {
  position: relative;
}

.checkbox-5 input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-5 label {
  position: relative;
  display: inline-block;
  width: 85px;
  height: 15px;
  border-radius: 46px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-5 label:after {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  content: "";
  position: absolute;
  top: -12px;
  left: 0;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-5 input[type="checkbox"]:hover + label:after {
  -webkit-transform: scale(1.4, 1.4);
      -ms-transform: scale(1.4, 1.4);
          transform: scale(1.4, 1.4);
}

.checkbox-5 input[type="checkbox"]:checked + label {
  background-color: #23a43b;
}

.checkbox-5 input[type="checkbox"]:checked + label:after {
  left: 50px;
  background-color: #4bd865;
}

.checkbox-6 {
  position: relative;
}

.checkbox-6 input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-6 label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 2px;
  border-radius: 46px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-6 label:after {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  content: "";
  position: absolute;
  top: -16px;
  left: 0;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-6 input[type="checkbox"]:hover + label:after {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.checkbox-6 input[type="checkbox"]:checked + label {
  background-color: #23a43b;
}

.checkbox-6 input[type="checkbox"]:checked + label:after {
  left: 40px;
  background-color: #4bd865;
}

.checkbox-7 {
  position: relative;
}

.checkbox-7 input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-7 label {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 90px;
  height: 42px;
  border-radius: 46px;
  border: 5px solid #555;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-7 label:after {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 2;
  background-color: #555;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-7 input[type="checkbox"]:hover + label:after {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.checkbox-7 input[type="checkbox"]:checked + label {
  border-color: #23a43b;
}

.checkbox-7 input[type="checkbox"]:checked + label:after {
  left: 50px;
  background-color: #4bd865;
}

.checkbox-8 {
  position: relative;
}

.checkbox-8 input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-8 label {
  position: relative;
  display: inline-block;
  width: 95px;
  height: 42px;
  border-radius: 10px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-8 label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 42px;
  border-radius: 10px;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-8 input[type="checkbox"]:hover + label:after {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.checkbox-8 input[type="checkbox"]:checked + label {
  background-color: #23a43b;
}

.checkbox-8 input[type="checkbox"]:checked + label:after {
  left: 35px;
}

.checkbox-9 {
  position: relative;
}

.checkbox-9 input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-9 label {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 32px;
  border-radius: 20px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-9 label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 32px;
  border-radius: 20px;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-9 input[type="checkbox"]:hover + label:after {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.checkbox-9 input[type="checkbox"]:checked + label {
  background-color: #23a43b;
}

.checkbox-9 input[type="checkbox"]:checked + label:after {
  left: 40px;
  background-color: #4bd865;
}

.checkbox-10 {
  position: relative;
}

.checkbox-10:before {
  content: "ON";
  position: relative;
  left: 35px;
  bottom: 15px;
  color: #fff;
  z-index: 1;
}

.checkbox-10:after {
  content: "OFF";
  position: relative;
  color: #aaa;
  right: 37px;
  bottom: 15px;
}

.checkbox-10 input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-10 label {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 42px;
  border-radius: 46px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.15);
}

.checkbox-10 label:after {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-10 input[type="checkbox"]:hover + label:after {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.checkbox-10 input[type="checkbox"]:checked + label {
  background-color: #23a43b;
}

.checkbox-10 input[type="checkbox"]:checked + label:after {
  left: 40px;
  background-color: #4bd865;
}

.checkbox-11 {
  position: relative;
}

.checkbox-11:after {
  content: "OFF";
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  color: #3c0d0d;
}

.checkbox-11:before {
  content: "ON";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: #229b38;
  z-index: 1;
}

.checkbox-11 input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-11 label {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 32px;
  -webkit-box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #d6413f;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-11 label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 32px;
  z-index: 2;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #fff), color-stop(45%, #ddd), color-stop(50%, #fff), color-stop(55%, #ddd), color-stop(70%, #fff));
  background-image: -webkit-linear-gradient(left, #fff 30%, #ddd 45%, #fff 50%, #ddd 55%, #fff 70%);
  background-image: -o-linear-gradient(left, #fff 30%, #ddd 45%, #fff 50%, #ddd 55%, #fff 70%);
  background-image: linear-gradient(to right, #fff 30%, #ddd 45%, #fff 50%, #ddd 55%, #fff 70%);
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.checkbox-11 input[type="checkbox"]:hover + label:after {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.checkbox-11 input[type="checkbox"]:checked + label {
  background-color: #75e189;
}

.checkbox-11 input[type="checkbox"]:checked + label:after {
  left: 40px;
  background-color: #4bd865;
}

.checkbox-12 {
  position: relative;
  width: 160px;
  height: 40px;
  border-radius: 50px;
  background-color: #2b2b2d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 18px;
}

.checkbox-12:after {
  content: "ON";
  line-height: 40px;
  font-size: 12px;
}

.checkbox-12:before {
  content: "OFF";
  z-index: 1;
  line-height: 40px;
  font-size: 12px;
}

.checkbox-12 input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-12 label {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 10px;
  margin: 0 5px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3) inset;
  border-radius: 46px;
  background-color: #1e1e1e;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-12 label:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 7px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: #151515;
  z-index: 3;
}

.checkbox-12 label:after {
  width: 27px;
  height: 27px;
  border-radius: 100%;
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  z-index: 2;
  background-color: #3f4545;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#3f4545));
  background-image: -webkit-linear-gradient(top, #666666 0%, #3f4545 100%);
  background-image: -o-linear-gradient(top, #666666 0%, #3f4545 100%);
  background-image: linear-gradient(to bottom, #666666 0%, #3f4545 100%);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-12 input[type="checkbox"]:hover + label:after {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.checkbox-12 input[type="checkbox"]:checked + label {
  background-color: #23a43b;
}

.checkbox-12 input[type="checkbox"]:checked + label:before {
  left: 52px;
  background-color: #94da00;
  -webkit-box-shadow: 0 0 5px #94da00;
          box-shadow: 0 0 5px #94da00;
}

.checkbox-12 input[type="checkbox"]:checked + label:after {
  left: 45px;
  background-color: #4bd865;
}

.checkbox-13 {
  position: relative;
}

.checkbox-13:after {
  content: "OFF";
  position: absolute;
  top: 10px;
  right: 15px;
  color: #666;
}

.checkbox-13 input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-13 label {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 40px;
  border-radius: 20px;
  border: 3px solid #777;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.checkbox-13 label:after {
  content: "ON";
  position: absolute;
  top: 3px;
  right: 2px;
  width: 28px;
  height: 28px;
  color: #fff;
  border-radius: 14px;
  line-height: 28px;
  text-indent: 100px;
  background-color: #777;
  overflow: hidden;
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
  z-index: 2;
  -webkit-transition: all 0.4s 0.2s linear, text-indent 0.4s linear;
  -o-transition: all 0.4s 0.2s linear, text-indent 0.4s linear;
  transition: all 0.4s 0.2s linear, text-indent 0.4s linear;
}

.checkbox-13 input[type="checkbox"]:hover + label:after {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.checkbox-13 input[type="checkbox"]:checked + label {
  border-color: #4bd865;
}

.checkbox-13 input[type="checkbox"]:checked + label:after {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  width: 80px;
  left: auto;
  text-indent: 30px;
  -webkit-transition: all 0.4s, width 0.2s linear 0.4s, text-indent 0.3s linear;
  -o-transition: all 0.4s, width 0.2s linear 0.4s, text-indent 0.3s linear;
  transition: all 0.4s, width 0.2s linear 0.4s, text-indent 0.3s linear;
  background-color: #4bd865;
}

.checkbox-14 {
  position: relative;
}

.checkbox-14:after {
  content: "OFF";
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  color: #d6413f;
}

.checkbox-14:before {
  content: "ON";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  z-index: 1;
  color: #4bd865;
}

.checkbox-14 input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-14 label {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 32px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-14 label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 32px;
  z-index: 2;
  background-color: #d6413f;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-14 input[type="checkbox"]:hover + label:after {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.checkbox-14 input[type="checkbox"]:checked + label:after {
  left: 50px;
  background-color: #4bd865;
}

.checkbox-15 {
  position: relative;
  width: 94px;
  height: 34px;
  border: 2px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #4bd865;
  border-radius: 6px;
  overflow: hidden;
}

.checkbox-15:after {
  content: "ON";
  position: absolute;
  top: 8px;
  left: 10px;
  font-size: 12px;
  color: #fff;
}

.checkbox-15:before {
  content: "OFF";
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 12px;
  color: #fff;
  z-index: 1;
}

.checkbox-15 input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.checkbox-15 label {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 32px;
  border-radius: 4px;
  background-color: #d6413f;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-15 label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 32px;
  border-radius: 4px;
  z-index: 2;
  background-color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.checkbox-15 input[type="checkbox"]:hover + label:after {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.checkbox-15 input[type="checkbox"]:checked + label {
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
}

.checkbox-15 input[type="checkbox"]:checked + label:after {
  left: 0;
}

.checkbox-16 {
  position: relative;
}

.checkbox-16 input[type="checkbox"] {
  display: none;
}

.checkbox-16 label {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  padding: 9px;
  background-color: #fff;
  border: 1px solid #c1caca;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-size: 1em;
}

.checkbox-16 label:active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.checkbox-16 input[type="checkbox"]:checked + label {
  background-color: #ecf2f7;
  border: 1px solid #92a1ac;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #243441;
}

.checkbox-16 input[type="checkbox"]:checked + label:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background: #253c4b;
  opacity: 0.8;
  -webkit-box-shadow: inset 0 15px 23px -10px rgba(187, 230, 240, 0.3), 0 2px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 15px 23px -10px rgba(187, 230, 240, 0.3), 0 2px 2px rgba(0, 0, 0, 0.1);
}

.checkbox-17 {
  position: relative;
}

.checkbox-17 input[type="checkbox"] {
  display: none;
}

.checkbox-17 label {
  position: relative;
  display: inline-block;
  width: 213px;
  height: 58px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px 20px 18px 23px;
  border-radius: 1000px;
  background-color: #f37900;
  -webkit-box-shadow: inset 0 50px 37px -30px rgba(255, 222, 197, 0.3), 0 0 13px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 50px 37px -30px rgba(255, 222, 197, 0.3), 0 0 13px rgba(0, 0, 0, 0.6);
  border-top: 1px solid #eca14f;
  border-bottom: 1px solid #552b09;
  color: #fff;
  font-size: 1.7em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 1em;
}

.checkbox-17 label:hover {
  border-top: 1px solid #fc8c1e;
  background-color: #fc8c1e;
  -webkit-box-shadow: inset 0 -50px 37px -30px rgba(255, 222, 197, 0.07), 0 0 13px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 -50px 37px -30px rgba(255, 222, 197, 0.07), 0 0 13px rgba(0, 0, 0, 0.6);
}

.checkbox-17 label:active {
  border-top: none;
  background-color: #fc8c1e;
  padding: 19px 20px 18px 23px;
  -webkit-box-shadow: inset 0 3px 8px rgba(129, 69, 13, 0.3), inset 0 -50px 37px -30px rgba(255, 222, 197, 0.07), 0 0 13px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 3px 8px rgba(129, 69, 13, 0.3), inset 0 -50px 37px -30px rgba(255, 222, 197, 0.07), 0 0 13px rgba(0, 0, 0, 0.6);
}

.checkbox-17 label:before {
  content: " ";
  position: absolute;
  top: 18px;
  right: 18px;
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  z-index: 999;
  -webkit-box-shadow: inset 0px 16px 40px #fff;
          box-shadow: inset 0px 16px 40px #fff;
}

.checkbox-17 label:after {
  content: " ";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 32px;
  height: 32px;
  border-radius: 100px;
  -webkit-box-shadow: inset 0px 16px 40px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0px 16px 40px rgba(0, 0, 0, 0.4);
}

.checkbox-17 input[type="checkbox"]:checked + label:before {
  display: block;
}

.checkbox-18 {
  position: relative;
}

.checkbox-18 input[type="checkbox"] {
  display: none;
}

.checkbox-18 label {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  padding: 9px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
  border: 1px solid #c1caca;
  color: #243441;
  background-color: #fff;
  cursor: pointer;
  font-size: 1em;
}

.checkbox-18 label:active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox-18 input[type="checkbox"]:checked + label {
  background-color: #ecf2f7;
  border: 1px solid #92a1ac;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #243441;
}

.checkbox-18 input[type="checkbox"]:checked + label:after {
  content: "\2715";
  position: absolute;
  top: -13px;
  left: 0px;
  color: #758794;
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  padding: 17px 0 0 0;
  vertical-align: text-top;
}

.checkbox-19 {
  position: relative;
}

.checkbox-19 input[type="checkbox"] {
  display: none;
}

.checkbox-19 label {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 9px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #d6846a;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  cursor: pointer;
  font-size: 1em;
}

.checkbox-19 label:active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox-19 label:after {
  content: '\2715';
  position: absolute;
  top: 99px;
  left: 0;
  width: 100%;
  color: #947975;
  padding: 1px 0 0 0;
  text-align: center;
  font-size: 1.4em;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.checkbox-19 input[type="checkbox"]:checked + label {
  background-color: #f7f2ec;
  border: 2px solid #c47d62;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.checkbox-19 input[type="checkbox"]:checked + label:after {
  top: 2px;
  left: 0px;
  padding: 2px 0 0 0;
}

.checkbox-20 {
  position: relative;
}

.checkbox-20 input[type="checkbox"] {
  display: none;
}

.checkbox-20 label {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 9px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  cursor: pointer;
  font-size: 1em;
}

.checkbox-20 label:active {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox-20 label:after {
  content: '\2715';
  position: absolute;
  top: 0;
  left: 0;
  padding: 18px 0 0 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  font-size: 1.5em;
  line-height: 0;
  background-color: #9feaad;
  color: #5c7fa0;
  text-align: center;
  -webkit-transform: rotateX(270deg);
          transform: rotateX(270deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.checkbox-20 input[type="checkbox"]:checked + label {
  -webkit-transition: all 0.5s linear 0.35s;
  -o-transition: all 0.5s linear 0.35s;
  transition: all 0.5s linear 0.35s;
  background-color: #aaa;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.checkbox-20 input[type="checkbox"]:checked + label:after {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.checkbox-21 {
  position: relative;
}

.checkbox-21 input[type="checkbox"] {
  display: none;
}

.checkbox-21 label {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 9px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-size: 1em;
}

.checkbox-21 label:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 9px 0 0 0;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.checkbox-21 label:after {
  content: '\2715';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px 0 0 0;
  font-size: 1.5em;
  line-height: 0;
  background-color: #4bd865;
  color: #f0f6fc;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-transform: rotateX(90deg) rotateY(0deg);
          transform: rotateX(90deg) rotateY(0deg);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
}

.checkbox-21 input[type="checkbox"]:checked + label:before {
  background-color: #ccc;
}

.checkbox-21 input[type="checkbox"]:checked + label:after {
  -webkit-transform: rotateX(0deg) rotateY(0deg) !important;
          transform: rotateX(0deg) rotateY(0deg) !important;
}

.checkbox-22 {
  position: relative;
}

.checkbox-22 input[type="checkbox"] {
  display: none;
}

.checkbox-22 label {
  position: relative;
  display: inline-block;
  height: 17px;
  padding: 6px 43px 8px 9px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  color: #464e50;
  background-color: #fff;
  overflow: hidden;
  -webkit-transition: all 0.3s linear, color 0 linear;
  -o-transition: all 0.3s linear, color 0 linear;
  transition: all 0.3s linear, color 0 linear;
  cursor: pointer;
  font-size: 1em;
}

.checkbox-22 label:before {
  content: "";
  position: absolute;
  background-color: #4bd865;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
}

.checkbox-22 label:after {
  content: "";
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 24px;
  height: 16px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.6), inset 0 -18px 15px -10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.6), inset 0 -18px 15px -10px rgba(0, 0, 0, 0.05);
  padding: 4px 0px;
  text-align: center;
  color: #496f7a;
  line-height: 16px;
}

.checkbox-22 input[type="checkbox"]:active + label:after {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.6), inset 0 2px 6px rgba(0, 0, 0, 0.1), inset 0 -18px 15px -10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.6), inset 0 2px 6px rgba(0, 0, 0, 0.1), inset 0 -18px 15px -10px rgba(0, 0, 0, 0.05);
}

.checkbox-22 input[type="checkbox"]:checked + label {
  color: #fff;
}

.checkbox-22 input[type="checkbox"]:checked + label:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
}

.checkbox-22 input[type="checkbox"]:checked + label:after {
  content: "\2715";
}
