@import '../variables';
@import '../mixins';

.checkbox-21{
	position: relative;
	input[type="checkbox"]{
		display: none;
	}
	label{
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		padding: 9px;
		transform-style: preserve-3d;
		transform-origin: 100% 100%;
		transition: all 0.5s linear 0s;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);

		cursor: pointer;
		font-size: 1em;
		&:before{
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 9px 0 0 0;
			background: $button-color;
			box-sizing: border-box;
			transition: all 0.3s ease-in;
		}
		&:after{
			content: '\2715';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 20px 0 0 0;
			font-size: 1.5em;
			line-height: 0;
			background-color: $primary-color;
			color: #f0f6fc;
			text-align: center;
			box-sizing: border-box;
			transition: all 0.3s ease-in;

			// 从上到下
			transform: rotateX(90deg) rotateY(0deg);
			transform-origin: 0 0;
			// // 从左到右
			// transform: rotateY(-90deg);
			// transform-origin: 0 0;
			// // 从右到左
			// transform: rotateY(90deg);
			// transform-origin: 100% 100%;
			// // 从下到上
			// transform: rotateX(-90deg);
			// transform-origin: 100% 100%;
		}
		
	}
	input[type="checkbox"]{
		&:checked{
			+ label:before{
				background-color: #ccc;
			}
			+ label:after{
				transform: rotateX(0deg) rotateY(0deg) !important;
			}
		}
	}
}