@import '../variables';
@import '../mixins';

.checkbox-18{
	position: relative;
	input[type="checkbox"]{
		display: none;
	}
	label{
		position: relative;
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 5px;
		padding: 9px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 -15px 10px -12px rgba(0, 0, 0, 0.05);
		border: 1px solid #c1caca;
		color: #243441;
		background-color: #fff;
		cursor: pointer;
		font-size: 1em;
		&:active{
			box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
		}
	}
	input[type="checkbox"]{
		&:checked{
			+ label{
				background-color: #ecf2f7;
				border: 1px solid #92a1ac;
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
				color: #243441;
			}
			+ label:after{
				content: "\2715";
				position: absolute;
				top: -13px;
				left: 0px;
				color: #758794;
				width: 100%;
				text-align: center;
				font-size: 1.4em;
				padding: 17px 0 0 0;
				vertical-align: text-top;
			}
		}
	}
}